/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*[共通]------------------------------------------------------------------------------------*/

body{
    padding:0;
    margin:0;
}

.notice{
    background-color:#FFAD90;
    text-align:center;
    margin:0;
    padding:0;
}

.notice p{
    color:#fff;
    text-shadow:1px 1px 1px #00f;
    margin:0;
    padding:15px;
}

.alert{
    background-color:#FFFFCC;
    text-align:center;
    margin:0;
    padding:0;
}

.alert p{
    color:#f00;
    text-shadow:1px 1px 1px #fff;
    margin:0;
    padding:15px;
}

.clearfix::after{
    content:"";
    display:block;
    clear:both;
}

.footer-fix{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}



/*[共通ここまで]-------------------------------------------------------------------------------*/




/*ここからスマホ用サイズ-----------------------------------------------------------------------------*/
@media(max-width:767px){

/*[navbarエリア]*/

.navbar-top{
    padding:0;
    margin:0;
    border-bottom:1px solid #000080;
    background-color:#fff;
    width:100%;
    top:0;
    left:0;
    z-index:1;
}

.navbar{
    padding:0;
    margin:0;
    background-color:#fff;
    top:0;
    position:sticky;
}

.navbar-logo{
    padding:20px;
    margin:0;
    background-color:#ff0;
    float:left;
}

.navbar-logo p{
    padding:0;
    margin:0;
}

.navbar-title{
    padding:0;
    margin:10px 0 0 10px;
    float:left;
    text-align:center;
}

.navbar-title p{
    padding:0;
    margin:0;
    font-size:15px;
    color:#ffff33;
    text-shadow:1px 1px 0 #000080;
}

.navbar-title h2{
    padding:0;
    margin:0;
    font-size:20px;
    color:#6699cc;
    text-shadow:1px 1px 0 #000080;
}

.navbar-title h2 span{
    color:#ffff33;
}

.navbar-list ul{
    padding:0;
    margin:0;
    width:100%;
    list-style:none;
    float:right;
    display:none;
    background-color:#6699cc;
    text-align:center;
}

.navbar-list li{
    padding:5px 0;
    margin:0;
    border-bottom:1px solid #000080;
}

.navbar-list li:nth-of-type(even){
    display:none;
}

.navbar-list li:hover{
    background-color:#eee;
}

.navbar-list a{
    padding:5px 0;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    font-size:13px;
    display:block;
}

.navbar-list a:hover{
    color:#6699cc;
}

.toggle-btn{
    padding:0;
    margin:20px 20px 0 0;
    float:right;
}

.toggle-btn i{
    font-size:30px;
    cursor:pointer;
    color:#6699cc;
}

.toggle-btn i:hover{
    color:#000080;
}


/*[footerエリア]*/

.footer{
    padding:0;
    margin:0;
    background-color:#ccc;
    margin-top:auto;
    text-align:center;
}

.footer-text{
    height:100px;
    margin:30px 0 10px;
    color:#fff;
}

.footer-text h2{
    padding:0;
    margin:0;
    font-size:20px;
}

.footer-text p{
    padding:0;
    margin:0;
}

.footer-list ul{
    padding:0;
    margin:0 0 40px 0;
    list-style:none;
    font-weight:bold;
}

.footer-list li{
    display:inline-block;
    margin:0 40px;
}

.footer-list a{
    color:#fff;
    text-shadow:1px 1px 0 #000;
}

.footer-list a:hover{
    color:#000;
}


}
/*ここまでがスマホ用サイズ-----------------------------------------------------------------------------*/





/*ここからタブレット用サイズ-----------------------------------------------------------------------------*/
@media(min-width:768px) and (max-width:1024px){

/*[navbarエリア]*/

.navbar-top{
    padding:0;
    margin:0;
    border-bottom:2px double #000;
    background-color:#fff;
    width:100%;
    top:0;
    left:0;
    z-index:1;
}

.navbar{
    padding:0;
    margin:0;
    border-bottom:2px double #000;
    background-color:#fff;
    top:0;
    position:sticky;
}

.navbar-logo{
    padding:20px;
    margin:0;
    background-color:#ff0;
    float:left;
}

.navbar-logo p{
    padding:0;
    margin:0;
}

.navbar-title{
    padding:0;
    margin:10px 0 0 10px;
    float:left;
    text-align:center;
}

.navbar-title p{
    padding:0;
    margin:0;
    font-size:15px;
    color:#ffff33;
    text-shadow:1px 1px 0 #000080;
}

.navbar-title h2{
    padding:0;
    margin:0;
    font-size:20px;
    color:#6699cc;
    text-shadow:1px 1px 0 #000080;
}

.navbar-title h2 span{
    color:#ffff33;
}

.navbar-list ul{
    padding:0;
    margin:0;
    width:100%;
    list-style:none;
    float:right;
    display:none;
    background-color:#6699cc;
    text-align:center;
}

.navbar-list li{
    padding:5px 0;
    margin:0;
    border-bottom:1px solid #000080;
}

.navbar-list li:nth-of-type(even){
    display:none;
}

.navbar-list li:hover{
    background-color:#eee;
}

.navbar-list a{
    padding:5px 0;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    font-size:13px;
    display:block;
}

.navbar-list a:hover{
    color:#6699cc;
}

.toggle-btn{
    padding:0;
    margin:20px 30px 0 0;
    float:right;
}

.toggle-btn i{
    font-size:30px;
    cursor:pointer;
    color:#6699cc;
}

.toggle-btn i:hover{
    color:#000080;
}


/*[footerエリア]*/

.footer{
    padding:0;
    margin:0;
    background-color:#ccc;
    margin-top:auto;
    text-align:center;
}

.footer-text{
    height:100px;
    text-align:center;
    margin:30px 0 0 0;
    color:#fff;
}

.footer-text h2{
    padding:0;
    margin:0;
}

.footer-text p{
    padding:0;
    margin:0;
}

.footer-list{
    text-align:center;
}

.footer-list ul{
    padding:0;
    margin:0 0 50px 0;
    list-style:none;
    font-weight:bold;
}

.footer-list li{
    display:inline-block;
    margin:0 40px;
}

.footer-list a{
    color:#fff;
    text-shadow:1px 1px 0 #000;
}

.footer-list a:hover{
    color:#000;
}


}
/*ここまでがタブレット用サイズ-----------------------------------------------------------------------------*/





/*ここからPC用サイズ-----------------------------------------------------------------------------*/
@media(min-width:1025px){


/*[navbarエリア]*/

.navbar-top{
    padding:0;
    margin:0;
    border-bottom:2px double #000;
    background-color:#fff;
    width:100%;
    top:0;
    left:0;
    z-index:1;
}

.navbar{
    padding:0;
    margin:0;
    border-bottom:2px double #000;
    background-color:#fff;
    top:0;
    position:sticky;
}

.navbar-logo{
    padding:20px;
    margin:0;
    background-color:#ff0;
    float:left;
}

.navbar-logo p{
    padding:0;
    margin:0;
}

.navbar-title{
    padding:0;
    margin:10px 0 0 10px;
    float:left;
    text-align:center;
}

.navbar-title p{
    padding:0;
    margin:0;
    font-size:15px;
    color:#ffff33;
    text-shadow:1px 1px 0 #000080;
}

.navbar-title h2{
    padding:0;
    margin:0;
    font-size:20px;
    color:#6699cc;
    text-shadow:1px 1px 0 #000080;
}

.navbar-title h2 span{
    color:#ffff33;
}

.navbar-list ul{
    padding:0;
    margin:25px 0 0;
    list-style:none;
    float:right;
}

.navbar-list li{
    padding:0;
    margin:0 5px;
    display:inline-block;
}

.navbar-list li:last-of-type{
    margin-right:20px;
}

.navbar-list a{
    text-decoration:none;
    color:#bbb;
    font-weight:bold;
    font-size:13px;
}

.navbar-list a:hover{
    color:#6699cc;
    text-decoration:underline;
}

.toggle-btn{
    padding:0;
    margin:0;
    float:right;
    display:none;
}

.toggle-btn i{
    font-size:30px;
    cursor:pointer;
    color:#aaa;
}

.toggle-btn i:hover{
    color:#000;
}


/*[footerエリア]*/

.footer{
    padding:0;
    margin:0;
    background-color:#ccc;
    margin-top:auto;
    text-align:center;
}

.footer-text{
    height:100px;
    margin:50px 0 20px;
    color:#fff;
}

.footer-text h2{
    padding:0;
    margin:0;
}

.footer-text p{
    padding:0;
    margin:0;
}

.footer-list ul{
    padding:0;
    margin:0 0 30px 0;
    list-style:none;
    font-weight:bold;
}

.footer-list li{
    display:inline-block;
    margin:0 40px;
}

.footer-list a{
    color:#fff;
    text-shadow:1px 1px 0 #000;
}

.footer-list a:hover{
    color:#000;
}


}
/*ここまでがPC用サイズ-----------------------------------------------------------------------------*/