<div class="footer">
    <div class="footer-text">
        <h2>Travel Recurrent School</h2>
        <p>Copyright @ 2020 Shin Aono</p>
    </div>
    <div class="footer-list">
        <ul>
            <li><%= link_to "TOP", "/" %></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSelRX5x2HXNkhWTUfYQCVVHSlgeu2CNszcsJyGl9qZu5iCffQ/viewform">CONTACT</a></li>
        </ul>
    </div>
</div>