<div class="footer">
    <div class="clearfix">
        <div class="footer-logo">
            <p>LOGO</p>
        </div>
        <div class="footer-text">
            <h2>Travel Recurrent School</h2><br>
            <p>Copyright @ 2020 Shin Aono</p>
        </div>
    </div>
    <div class="footer-list">
        <ul>
            <li><%= link_to "TOP", "/" %></li>
            <li><%= link_to "CONTACT", "/" %></li>
        </ul>
    </div>
</div>